apiVersion: apps/v1
kind: Deployment
metadata:
  name: event-view-ms
spec:
  replicas: 2
  selector:
    matchLabels:
      app: event-view-ms
  template:
    metadata:
      labels:
        app: event-view-ms
    spec:
      containers:
      - name: event-view-ms
        image: adrian4096/prpo-app-event-view:${TAG}
        ports:
        - containerPort: 8000
        env:
        - name: ICAL_URL
          value: "http://ical-ms"
        - name: OPTIMIZER_URL
          value: "http://optimizator-ms"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secrets
              key: jwt-secret
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 10
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 10
          failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: event-view-ms
spec:
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
  selector:
    app: event-view-ms
