apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-managment-ms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-managment-ms
  template:
    metadata:
      labels:
        app: user-managment-ms
    spec:
      containers:
      - name: user-managment-ms
        image: adrian4096/prpo-app-users:${TAG}
        ports:
        - containerPort: 8000
        env:
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secrets
              key: jwt-secret
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 10
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 10
          failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: user-managment-ms
spec:
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
  selector:
    app: user-managment-ms
